<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
        
    <label for="conta">Total:</label>
    <input type="text" name="conta" v-model="valorDaConta">
    
    <label for="qtdePagantes">Quantidade de pagantes:</label>
    <input type="text" name="qtdePagantes" v-model="quantidadeDePagantes">
    
    <h1>{{valorPorPessoa}}</h1>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            valorDaConta: 0,
            quantidadeDePagantes: 0,
            valorPorPessoa: 0 
        },
        watch: {
            quantidadeDePagantes(novoValor) {
                
                this.valorPorPessoa = this.valorDaConta/novoValor
            }
        }
    })
    /*
    (watch) estão em constante observação 
    para que toda vez que houver uma mudança, um determinado seja recalculado
    */
</script>